@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

html * {
    font-family: 'Roboto' !important;
    letter-spacing: 2px;
}

p {
    font-size: 110%;
    color: #ffffff !important;
}

h1 {
    color: #ffffff !important;
}

h2 {
    color: #ffffff !important;
}

h4 {
    color: #CE9178 !important;
}

footer{
    background-color: #000000;
}

.social{
    float: right;
}

.paragraph-header{
    color: #ffffff !important;
}

body {
    min-height: 100vh; 
    background: radial-gradient(ellipse at bottom, #0d1d31, #0c0d13);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.navbar-dark{
    background-color: #0000005f;
}

nav .navbar-nav li a{
color: #cccccc !important;
}

.navbar-dark .navbar-brand{
    color: #ffffff;
}

.nav-link:hover {
    color: #569CD6 !important;
}

.special-links{
    color: #569CD6;
    text-decoration: none;
}